@charset "UTF-8";

/*导航*/
.lt_nav {
  padding: 10px;
}

.lt_nav li {
  float: left;
  width: 33.33%;
}
h5 {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  padding-left: 10px;
}

.lunbo {
  height: 200px;
}
.lunbo img {
  height: 200px;
}