<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>乐淘管理系统-登录页</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="./css/common.css"/>
    <link rel="stylesheet" href="./css/user.css"/>

    <!-- 使用 登录验证 插件-->
    <link rel="stylesheet" href="./lib/bootstrap-validator/css/bootstrapValidator.min.css"/>

    <!--使用进度条插件-->
    <link rel="stylesheet" href="lib/nprogress/nprogress.css"/>
</head>
<body>

<!--左侧边栏-->
<div class="lt_aside">
    <div class="brand">
        <a href="./index.html">ITCAST</a>
    </div>
    <!-- 用户信息-->
    <div class="user">
        <img src="./images/default.png" alt=""/>
        <span>超级管理员</span>
    </div>
    <!-- 导航部分-->
    <div class="nav">
        <ul>
            <li>
                <a class="now" href="user.html">
                    <span class="glyphicon glyphicon-user"></span>
                    用户管理
                </a>
            </li>
            <li>
                <a href="javascript:;" class="fenlei">
                    <span class="glyphicon glyphicon-list"></span>
                    分类管理
                </a>
                <div class="child" style="display: none">
                    <a href="first.html">一级分类</a>
                    <a href="second.html">二级分类</a>
                </div>
            </li>
            <li>
                <a href="product.html">
                    <span class="glyphicon glyphicon-tags"></span>
                    商品管理
                </a>
            </li>
        </ul>
    </div>
</div>
<!--右边的主体-->
<div class="lt_main">

    <!-- 顶部通栏-->
    <div class="topbar">
        <a class="pull-left btn_menu" href="javascript:;">
            <span class="glyphicon glyphicon-align-justify"></span>
        </a>
        <a class="pull-right btn_logout" href="javascript:;">
            <span class="glyphicon glyphicon-log-out"></span>
        </a>
    </div>
    <div class="container-fluid">
        <!-- 面包屑(路径)导航栏 -->
        <ol class="breadcrumb">
            <li><a href="index.html">管理系统</a></li>
            <li class="active">用户管理</li>
        </ol>
        <!--内容区域-->
        <div class="lt_content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>用户名</td>
                        <td>手机号</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                <!-- 挖坑-->
                </tbody>
            </table>

            <!-- 生成分页-->
            <div class="text-right">
                <ul id="paginator"></ul>
            </div>
        </div>
    </div>
</div>


<!--role aria sr-only: 屏幕阅读器使用-->
<div class="modal fade" tabindex="-1" id="logoutModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ><span>&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    您确定要退出后台管理系统吗？
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn_confirm">确定</button>
            </div>
        </div>
    </div>
</div>

<!--模态框 -->
<div class="modal fade" id="user_modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    您确定要执行此操作吗?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn_edit">确定</button>
            </div>
        </div>
    </div>
</div>


<script src="lib/jquery/jquery.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<!-- 登录校验 -->
<script src="lib/bootstrap-validator/js/bootstrapValidator.min.js"></script>
<!--进度条-->
<script src="lib/nprogress/nprogress.js"></script>
<!--引入  报表插件-->
<script src="lib/echarts/echarts.min.js"></script>
<!--引入 模板引擎-->
<script src="lib/art-template/template-web.js"></script>
<!--引入分页插件-->
<script src="lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="js/common.js"></script>

<script src="js/user.js"></script>

<!--生成模板-->
<script type="text/html" id="tmp">
    {{each rows v i}}
    <tr>
        <td>{{(page-1)*size+i+1}}</td>
        <td>{{v.username}}</td>
        <td>{{v.mobile}}</td>
        <td>{{v.isDelete==1?"正常":"禁用"}}</td>
        <td data-id ="{{v.id}}">
            {{if v.isDelete==1}}
            <button class="btn btn-danger">禁用</button>
            {{/if}}
            {{if v.isDelete==0}}
            <button class="btn btn-success">启用</button>
            {{/if}}
        </td>
    </tr>
    {{/each}}
</script>

</body>
</html>